#solution{
height: 400px;
padding-top: 200px !important;
margin-top: -150px;
button{
    background-color: lightgray ;
    width: 200px;
    color: crimson !important;
    font-size: 20px;
    border: none;
    &:hover{
        background-color: rgb(245, 95, 125);
        color: white !important;
        outline: none !important;
    }
    &:focus{
        outline: none !important;
        border: none !important;
    }
}
} 
.aboutUs{
    height: 300px;
}